RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [NC,L,QSA]
#RewriteCond %{HTTP_HOST} ^mymsanii.com$
#RewriteRule ^/?$ "http\:\/\/www\.mymsanii\.com\/" [R=301,L]
